<ion-view title="國中部" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FQxG3NfapTkaKBQoRUd05_103.gifaltmediatoken7d8fb8a0-09e5-4cdb-88ab-ff56a5ddef0b" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FUpuDlIIbQniDLL8fSHAN_105.GIFaltmediatoken195a54a9-4bf7-4a52-848f-66f31f433d8a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FDGyQEOUcSwiX5YiH03bn_107.GIFaltmediatokenee96c879-ff45-433c-92de-99dc00a492f8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FYzzib40SsCABbUxNpITW_108.GIFaltmediatoken8aac4860-c584-4b56-85e5-2f9862567173" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F1rnXssK0QSWKoKHbuSux_110.GIFaltmediatoken21fff728-906a-47ef-b534-7921c53a141d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2Fam1iBKQnTxOGYyOm2Kmb_111.GIFaltmediatoken08c30039-b530-4bc3-b9f2-cf0e0433bdfa" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FtRyZuuqpR4io9isYy6mM_112.GIFaltmediatoken97d378ea-fb8d-426b-be73-edce50883749" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FhRFNtqqBTvm1rjSSIoj1_113.GIFaltmediatoken80d86a61-dddc-489e-9f7d-85e5ed05ddd8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FFox2RYtgTBCFthFwQj32_114.GIFaltmediatoken04b9eb3c-a1fc-4f99-8caf-a65064c14381" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FFj9UaaAhQcS2K4aKOksI_118.GIFaltmediatokenbd3a7eb9-1ac1-4c1f-bb38-f1f9856605e0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F4nWEzUozTzGLwSJE1A8q_123.GIFaltmediatoken15886aa2-589e-4bf1-901b-0e0a083c5ae0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FwTEQY5PHR4ezaJCgnuJp_124.GIFaltmediatokendee20938-2fc4-450f-98b2-a01524ad4242" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FyZUTUn2DTQma4HBCJTeV_126.GIFaltmediatoken1e714058-631c-43cd-933c-61e12268d5e3" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FZzkHcFV6RwSrM7Hbukg2_127.GIFaltmediatoken5f4038f1-40ef-457b-81a1-1b70d6e1ede5" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FYimkc2yPRACqTT9zQCDa_128.GIFaltmediatoken57714de4-5312-4ee5-bfa5-1c20fd4c5739" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FZQMZrxGWSwW6VFZ9GVJc_129.GIFaltmediatoken3660fbe2-8e46-409a-8c77-fc14721908c4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F8RMX1UDSS7SYkKrbYoKe_130.GIFaltmediatokencbb81089-d017-490f-b943-466b8dc75ea4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FNmI4xckjQPCbb5IADZzd_131.GIFaltmediatoken2b992835-b542-4021-9034-84272d45b72f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FmRN7EjkWT2cSfCjxlNua_132.GIFaltmediatoken56223520-deac-4eec-a831-017345f1874b" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F2ZT2I0cSAuwAdQgJON3u_133.GIFaltmediatokened3c303c-c256-45c3-a353-9e8e2a9531f5" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FcNtBTWuaQj6gngX0p0VI_134.GIFaltmediatoken7043d948-3fbf-426f-8005-2ad700733e41" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FIEmDwFLT2mQfInqbbMsw_136.GIFaltmediatokenb08b10e7-1c67-4270-b15c-0faaaa6819ea" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FadSOOn6SaiiBF3qvBn3I_137.GIFaltmediatoken4869a6ac-92fa-49e4-afbf-7156292f7629" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FjpVAkntTTXSrcOtfnHlb_138.GIFaltmediatokenc3b11113-0b90-4dc8-875b-87468fd9eac1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FlUJo7zOuSG8hWYXcSBmm_139.GIFaltmediatoken931c4bef-fbf1-41c7-b8ac-c5357e149897" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FX4N2zwWVSJqAAzhbHrNJ_140.GIFaltmediatoken940b5b3d-c987-4b9f-823a-e17ee9a9a2d3" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FRvy3nVCcTtOdgghFHcsQ_141.GIFaltmediatoken09da6a2a-5836-4ced-b794-a2740150a352" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FDdPu9RrZRmSAOZDASMhn_142.GIFaltmediatokenb7535131-b1a6-482c-bcd9-bbddc9b3e482" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FRGcRLZi4QymVVM8ytVXB_143.GIFaltmediatokenab8cfb57-aee1-4825-93a7-e6239cf07736" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2Fl5iRsrNqSWz5bqpvEImP_144.GIFaltmediatokend67add50-7ca1-4717-9f00-9117712cd95a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F5jXUEEaaTpKa1yW3FPfB_145.GIFaltmediatokeneeb0f267-6211-40ad-a5d1-e97fa633ff7c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F9SrNhEe9QXiVZtCusO4H_146.GIFaltmediatoken78604a9a-6449-4f98-9c54-ee5ba9b232a8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FRIqR8rwKSui2XgRUOFRY_150.GIFaltmediatokenbf65df57-4320-4e05-b9bb-3c99d29d0b31" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FHjOCr6zlQpi4zTl4FEFp_159.GIFaltmediatoken62cbb39e-7c86-4932-9f9d-78e55b9bd09f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>