<ion-view title="國中部" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{dicture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dicture in dictures">
    </div>
    <div>
      <img src="{{dillure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dillure in dillures">
    </div>
    <div>
      <img src="{{diccure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccure in diccures">
    </div>
    <div>
      <img src="{{didure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didure in didures">
    </div>
    <div>
      <img src="{{diddure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diddure in diddures">
    </div>
    <div>
      <img src="{{dibure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibure in dibures">
    </div>
    <div>
      <img src="{{dibbure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbure in dibbures">
    </div>
    <div>
      <img src="{{ditture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="ditture in dittures">
    </div>
    <div>
      <img src="{{diffure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffure in diffures">
    </div>
    <div>
      <img src="{{dictule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictule in dictules">
    </div>
    <div>
      <img src="{{dillule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dillule in dillules">
    </div>
    <div>
      <img src="{{diccule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccule in diccules">
    </div>
    <div>
      <img src="{{didule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didule in didules">
    </div>
    <div>
      <img src="{{diddule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diddule in diddules">
    </div>
    <div>
      <img src="{{dibule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibule in dibules">
    </div>
    <div>
      <img src="{{dibbule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbule in dibbules">
    </div>
    <div>
      <img src="{{dittule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittule in dittules">
    </div>
    <div>
      <img src="{{diffule}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffule in diffules">
    </div>
    <div>
      <img src="{{dictuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictuze in dictuzes">
    </div>
    <div>
      <img src="{{dilluze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dilluze in dilluzes">
    </div>
    <div>
      <img src="{{diccuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccuze in diccuzes">
    </div>
    <div>
      <img src="{{diduze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diduze in diduzes">
    </div>
    <div>
      <img src="{{didduze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduze in didduzes">
    </div>
    <div>
      <img src="{{dibuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuze in dibuzes">
    </div>
    <div>
      <img src="{{dibbuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuze in dibbuzes">
    </div>
    <div>
      <img src="{{dittuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittuze in dittuzes">
    </div>
    <div>
      <img src="{{diffuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffuze in diffuzes">
    </div>
    <div>
      <img src="{{dictuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictuve in dictuves">
    </div>
    <div>
      <img src="{{dilluve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dilluve in dilluves">
    </div>
    <div>
      <img src="{{diccuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccuve in diccuves">
    </div>
    <div>
      <img src="{{diduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diduve in diduves">
    </div>
    <div>
      <img src="{{didduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduve in didduves">
    </div>
    <div>
      <img src="{{dibuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuve in dibuves">
    </div>
    <div>
      <img src="{{dibbuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuve in dibbuves">
    </div>
  </ion-content>
</ion-view>