<ion-view title="一般課程" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{mictute}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mictute in mictutes">
    </div>
    <div>
      <img src="{{millute}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="millute in millutes">
    </div>
    <div>
      <img src="{{miccute}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miccute in miccutes">
    </div>
    <div>
      <img src="{{midute}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="midute in midutes">
    </div>
    <div>
      <img src="{{middute}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="middute in middutes">
    </div>
  </ion-content>
</ion-view>