<ion-view title="高中部" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2F5xdHkeKYS0KYzfQWuaEw_128.GIFaltmediatokenf8a936a8-67ca-4941-8302-53b37dbca37e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F8mdh8pwwQjSGiNx6ohs1_129.GIFaltmediatoken7e06d862-b14a-443e-9c0b-8283c3043a33" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FrDJ0rKLtSFuLy0bgePmA_130.GIFaltmediatoken77c607a1-0b73-476a-abc4-ac8d93e33aa4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>