<ion-view title="升學進路" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/8nT7EwAMTKuMPkE4Prch_148.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/48FHWT6MRbmZUw7ah7bv_149.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/bOLSCLiSS7Od8VTzYqUh_150.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/kb9RffQqRIGX0AXf222a_151.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/gOtCZoyQQ4CGYsM2khIQ_152.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/uIh0Rm6DTQ21c3GmMjMZ_153.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/BtaoxYtSv6doGgl2b3od_154.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/KjIb5k82QMSAnzPQ1Fjz_155.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>