<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987106.GIFaltmediatoken0b4a0a67-37f2-4462-9f21-65b7b170003f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987107.GIFaltmediatokenaea756f6-b2d5-4d44-8e7d-1805e1052408" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987108.GIFaltmediatoken93b4b137-6686-4b8b-876a-cf7bf793f2cc" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F6Hl54ab1RD2sqZIDzm2i_BIS-.gifaltmediatokena4a6512d-b01f-4cfe-939a-1d5981baa39d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2Fv5RuJr6mS02yTKSGYQf2_BIS-.gifaltmediatokene2ccf0f3-0e28-4245-bfa6-f4f27f9db0d3" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page19-button-bar3" class="button-bar"></div>
    <div>
      <img src="img/AABIS_pics2FRNn9S7DHSOarU3KqenIo_1.GIFaltmediatoken439b16f2-0ab8-480a-a59a-6d2fdd57fb9e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FeWwrLGe1QCCKfMibSu5w_2.GIFaltmediatokenbe9eb112-2618-48c6-81e3-b65d0591d89c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FlgWArXFhTZaofRPi2LN0_3.GIFaltmediatoken029f7cf9-7955-4bc0-82a2-ba4a6e7fbb28" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F0CapT2SESKGZHS8poZUE_4.GIFaltmediatokenaf28d418-c608-4f66-ac8e-38f52d882bf7" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FKuZl11VIShu3PuUh3LJL_9.GIFaltmediatokencaaf59d8-d666-4af5-87e7-bd455c219013" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FOsTQnHHyQZ6n0o0i2pNB_10.GIFaltmediatoken17c07337-a241-4904-8d6f-b303e2848273" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FFrDurd4OQTeRRwe6VPZd_11.GIFaltmediatoken31af3482-25b5-46b0-a8a9-8e8d61434fd0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FhTKDjCroTnaIQ3xiwNKC_13.GIFaltmediatoken269555db-cd79-42de-ab7d-c14568978551" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>