<ion-view title="教育特色" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898749.GIFaltmediatokendd874c72-c2e7-439c-888a-7fe9ae982c12" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898750.GIFaltmediatokendfa06c9d-1fea-4828-b3ab-faf4b55df304" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898751.GIFaltmediatoken74ffffcb-bd7a-4e25-8c5c-24485cb9c230" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898752.GIFaltmediatokenf5e65ea9-ecad-4732-b6fe-d110e9cf971c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898753.GIFaltmediatoken4518f893-cacf-4a38-885c-edfbc4a2f25c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898754.GIFaltmediatoken756b5c85-c2bf-4b44-b817-a5e7d3f1cadf" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898755.GIFaltmediatokenad4c8b39-f474-4823-9b30-16ffa4a77789" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898756.GIFaltmediatokenbce5d7a1-5358-4a9f-a03a-34d3ec1e96fa" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898757.GIFaltmediatokencf057f42-2442-49b9-b395-0cf67fb8b04b" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898758.GIFaltmediatoken561dfd03-da67-4c20-af5e-665f1b8fd4a0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898759.GIFaltmediatoken15605f28-2c46-4c01-ae2d-d0522d44b46a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898760.GIFaltmediatoken7a5bfc35-cd1b-4a6d-8cbd-643a71b28014" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898761.GIFaltmediatoken7da774ba-1218-46d5-9355-0b9defde0071" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898762.GIFaltmediatoken606b74c2-183f-4ac6-b999-d7730263530f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898763.GIFaltmediatokendbbe7b75-5289-4405-a664-71c12582c0b2" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898764.GIFaltmediatoken2303fe5a-e32d-45c9-9562-452a68190601" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898765.GIFaltmediatoken26d9e9c2-6b8f-4a13-a185-f173b0c386a0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898766.GIFaltmediatoken3ba37c9a-f9dc-44df-8fde-a3c9961ca482" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898767.GIFaltmediatoken690f4673-0c60-4fbe-b9c4-44a28d1a4dbd" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898768.GIFaltmediatoken8bd2cfd2-82d8-4870-af78-8470ed58fbf8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898769.GIFaltmediatoken6c3163c6-2ba7-4e17-abc8-926e29172ce5" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898770.GIFaltmediatoken4d467a9b-0885-473a-aa7f-4e8449b8fa21" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898771.GIFaltmediatokencd2cc371-4b7a-44ac-84d7-c49a7cf0dd51" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898772.GIFaltmediatoken7261e5d5-ffec-458d-a1ad-3f2f2967d9b3" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898773.GIFaltmediatoken86457bd3-cd43-4afd-8e88-ed6e6fd3d996" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898774.GIFaltmediatokend0907f6c-6782-4407-9fc9-be393c9a63c0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898775.GIFaltmediatoken652d5311-1d35-471c-9162-85af9a1212a0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898776.GIFaltmediatokene224bc86-a5a0-4f05-9135-3885aefaf90a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898777.GIFaltmediatoken157dbe7e-840a-40ff-9a8d-dd748c1acaf7" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898778.GIFaltmediatokencafb395c-6c3d-4773-b5d2-88e0dec10e38" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898787.GIFaltmediatoken4527afaa-07b5-44ae-af3a-2a38baf9e684" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898788.GIFaltmediatokenbb26ba7a-fc48-4f43-9a34-79c706732a98" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898789.GIFaltmediatokene5cfc3c6-46ff-4ca1-b824-40262fbff62b" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898790.GIFaltmediatokenbdcc9d99-efac-4841-9ae7-43538c278919" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898791.GIFaltmediatoken68bffba0-5a96-4a6d-ba03-8451f0ff751b" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898792.GIFaltmediatoken09dcaab4-8294-4405-86f6-ab5180b2287d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898793.GIFaltmediatokenf597dc81-dc6e-4517-b0e9-fbc8dd20b442" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>