<ion-view title="學雜費及補助" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{laictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="laictuye in laictuyes">
    </div>
    <div>
      <img src="{{lailluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="lailluye in lailluyes">
    </div>
    <div>
      <img src="{{laiccuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="laiccuye in laiccuyes">
    </div>
    <div>
      <img src="{{laiduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="laiduye in laiduyes">
    </div>
    <div>
      <img src="{{laidduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="laidduye in laidduyes">
    </div>
    <div>
      <img src="{{laibuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="laibuye in laibuyes">
    </div>
  </ion-content>
</ion-view>