<ion-view title="多元活動" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{aictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aictuye in aictuyes">
    </div>
    <div>
      <img src="{{ailluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="ailluye in ailluyes">
    </div>
    <div>
      <img src="{{aiccuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aiccuye in aiccuyes">
    </div>
    <div>
      <img src="{{aiduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aiduye in aiduyes">
    </div>
    <div>
      <img src="{{aidduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aidduye in aidduyes">
    </div>
    <div id="page19-button-bar3" class="button-bar"></div>
    <div>
      <img src="{{aibuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aibuye in aibuyes">
    </div>
    <div>
      <img src="{{aibbuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aibbuye in aibbuyes">
    </div>
    <div>
      <img src="{{aittuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aittuye in aittuye">
    </div>
    <div>
      <img src="{{aiffuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aiffuye in aiffuyes">
    </div>
    <div>
      <img src="{{aictume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aictume in aictumes">
    </div>
    <div>
      <img src="{{aillume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aillume in aillumes">
    </div>
    <div>
      <img src="{{aiccume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aiccume in aiccumes">
    </div>
    <div>
      <img src="{{aidume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="aidume in aidumes">
    </div>
  </ion-content>
</ion-view>