<ion-view title="教育特色" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{mictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mictuye in mictuyes">
    </div>
    <div>
      <img src="{{milluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="milluye in milluyes">
    </div>
    <div>
      <img src="{{miccuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miccuye in miccuyes">
    </div>
    <div>
      <img src="{{miduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miduye in miduyes">
    </div>
    <div>
      <img src="{{midduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="midduye in midduyes">
    </div>
    <div>
      <img src="{{mibuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mibuye in mibuyes">
    </div>
    <div>
      <img src="{{mibbuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mibbuye in mibbuyes">
    </div>
    <div>
      <img src="{{mittuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mittuye in mittuyes">
    </div>
    <div>
      <img src="{{miffuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miffuye in miffuyes">
    </div>
    <div>
      <img src="{{dictume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictume in dictumes">
    </div>
    <div>
      <img src="{{dillume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dillume in dillumes">
    </div>
    <div>
      <img src="{{diccume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccume in diccumes">
    </div>
    <div>
      <img src="{{didume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didume in didumes">
    </div>
    <div>
      <img src="{{diddume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diddume in diddumes">
    </div>
    <div>
      <img src="{{dibume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibume in dibumes">
    </div>
    <div>
      <img src="{{dibbume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbume in dibbumes">
    </div>
    <div>
      <img src="{{dittume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittume in dittumes">
    </div>
    <div>
      <img src="{{diffume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffume in diffumes">
    </div>
    <div>
      <img src="{{mictuzes}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mictuze in mictuzes">
    </div>
    <div>
      <img src="{{milluze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="milluze in milluzes">
    </div>
    <div>
      <img src="{{miccuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miccuze in miccuzes">
    </div>
    <div>
      <img src="{{miduze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miduze in miduzes">
    </div>
    <div>
      <img src="{{midduze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="midduze in midduzes">
    </div>
    <div>
      <img src="{{mibuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mibuze in mibuzes">
    </div>
    <div>
      <img src="{{mibbuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mibbuze in mibbuzes">
    </div>
    <div>
      <img src="{{mittuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mittuze in mittuzes">
    </div>
    <div>
      <img src="{{miffuze}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miffuze in miffuzes">
    </div>
    <div>
      <img src="{{mictuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mictuve in mictuves">
    </div>
    <div>
      <img src="{{milluve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="milluve in milluves">
    </div>
    <div>
      <img src="{{miccuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miccuve in miccuves">
    </div>
    <div>
      <img src="{{miduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miduve in miduves">
    </div>
    <div>
      <img src="{{midduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="midduve in midduves">
    </div>
    <div>
      <img src="{{mibuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mibuve in mibuves">
    </div>
    <div>
      <img src="{{mictume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="mictume in mictumes">
    </div>
    <div>
      <img src="{{millume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="millume in millumes">
    </div>
    <div>
      <img src="{{miccume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="miccume in miccumes">
    </div>
    <div>
      <img src="{{midume}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="midume in midumes">
    </div>
  </ion-content>
</ion-view>