<ion-view title="高職部" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{wictuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="wictuxe in wictuxes">
    </div>
    <div>
      <img src="{{willuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="willuxe in willuxes">
    </div>
    <div>
      <img src="{{wiccuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="wiccuxe in wiccuxes">
    </div>
    <div>
      <img src="{{widuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="widuxe in widuxes">
    </div>
    <div>
      <img src="{{widduxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="widduxe in widduxes">
    </div>
    <div>
      <img src="{{wibuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="wibuxe in wibuxes">
    </div>
    <div>
      <img src="{{wibbuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="wibbuxe in wibbuxes">
    </div>
    <div>
      <img src="{{dittuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittuxe in dittuxes">
    </div>
    <div>
      <img src="{{diffuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffuxe in diffuxes">
    </div>
    <div>
      <img src="{{dictuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictuxe in dictuxes">
    </div>
    <div>
      <img src="{{dilluxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dilluxe in dilluxes">
    </div>
    <div>
      <img src="{{diccuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccuxe in diccuxes">
    </div>
    <div>
      <img src="{{diduxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diduxe in diduxes">
    </div>
    <div>
      <img src="{{didduxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduxe in didduxes">
    </div>
    <div>
      <img src="{{dibuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuxe in dibuxes">
    </div>
    <div>
      <img src="{{dibbuxe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuxe in dibbuxes">
    </div>
  </ion-content>
</ion-view>