<ion-view title="週六課程" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987101.GIFaltmediatoken1e5e9564-6d29-4dca-a98f-84e801e32ae8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987102.GIFaltmediatokenab01cd35-28c0-4ebf-8998-9c7c62faaad9" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987103.GIFaltmediatokenb9423d56-1e9a-4543-b367-da9c3be2431a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987104.GIFaltmediatoken1f35de26-fcd3-4ec3-a6d7-b8ca0a59ef04" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>