<ion-view title="榜單" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{picture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="picture in pictures">
    </div>
    <div>
      <img src="{{pillure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="pillure in pillures">
    </div>
    <div>
      <img src="{{piccure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="piccure in piccures">
    </div>
    <div>
      <img src="{{pidure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="pidure in pidures">
    </div>
    <div>
      <img src="{{piddure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="piddure in piddures">
    </div>
    <div>
      <img src="{{pibure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="pibure in pibures">
    </div>
    <div>
      <img src="{{pibbure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="pibbure in pibbures">
    </div>
    <div>
      <img src="{{pitture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="pitture in pittures">
    </div>
  </ion-content>
</ion-view>