<ion-view title="升學進路" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987148.GIFaltmediatoken3c4bf28b-4056-4d02-aa89-4cc6137e57fd" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987149.GIFaltmediatoken56b158b1-3697-4b37-9bd7-a52d380aae95" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987150.GIFaltmediatokenf8ad6766-45f7-4e43-9742-3dfcb6b4d674" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987151.GIFaltmediatokenccb2e5ad-26d2-466b-a4f7-5ce037c6f831" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987152.GIFaltmediatoken227f62eb-9d96-4c12-bbe3-a13cd872ea8e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987153.GIFaltmediatokend3c8d717-6a86-4684-bc80-499b9cf54457" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987154.GIFaltmediatoken99493ff4-3bff-4bdc-b1f4-289b3546a85f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987155.GIFaltmediatoken753bf2e6-383d-4422-a15c-5197c09a08a4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>