<ion-view title="環境設備" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898723.GIFaltmediatokenb9096128-3e17-436a-9022-dbc1d9461c93" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898724.GIFaltmediatoken87cef7e4-85d1-4ed8-bc48-8876d0f710a9" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898725.GIFaltmediatoken3450a594-6703-4373-a65e-5c2d672086f5" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898726.GIFaltmediatoken08870968-2fb7-460d-9832-b8ab3e6d4155" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898727.GIFaltmediatoken3b2f2d41-3efd-4238-b41b-a8ee9f0ce3e7" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898728.GIFaltmediatokenc4be3292-39c3-47e5-ac30-8bda28f7545e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898729.GIFaltmediatoken3e2c7bae-2eb0-4f9f-8b63-c1ddba094e5f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898730.GIFaltmediatoken22d2cca7-62ed-418d-92d0-5d903f16fa12" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898731.GIFaltmediatoken25791508-874a-44da-8939-205c513b66ee" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898732.GIFaltmediatoken5e9f97e0-af61-4744-82a4-aee018c95a5f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898733.GIFaltmediatokenb5b4c8b6-2cbf-4849-a95f-a072fe964df8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898734.GIFaltmediatoken12715ce3-ef1a-4c54-bd48-20206d3c340e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898735.GIFaltmediatoken09de30ee-602d-4af3-bbde-c4c5a23d0447" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898736.GIFaltmediatokenf5bc83de-317a-49d3-b276-ec437afa1f56" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898737.GIFaltmediatoken1d5cafd1-5ed3-4d9d-8093-a93416df29b9" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898738.GIFaltmediatokenb8296579-b7ab-4c44-aa5d-7b907fe87456" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898739.GIFaltmediatoken4b2e91b1-74ac-42e3-9f49-8d0accb8e772" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898740.GIFaltmediatoken8f2d3aa5-cb11-474f-bd5f-e4b6af034e95" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898741.GIFaltmediatokene00b3e22-031d-40d0-bb7b-b06ab5482de2" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898742.GIFaltmediatokend9b7e248-afd0-4d9f-a2ca-c12c02f48eed" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898743.GIFaltmediatoken95433384-673a-450a-894b-b9e95c182077" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898744.GIFaltmediatokenba457329-c74d-44d5-89ed-635d91886c8c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898745.GIFaltmediatoken464149e6-2f17-4b44-b7b8-a257cf31fa2e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898746.GIFaltmediatokenafc81b26-8f87-4744-9cd6-68af5d906fb3" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>