<ion-view title="環境設備" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{tictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tictuye in tictuyes">
    </div>
    <div>
      <img src="{{tilluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tilluye in tilluyes">
    </div>
    <div>
      <img src="{{ticcuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="ticcuye in ticcuyes">
    </div>
    <div>
      <img src="{{tiduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tiduye in tiduyes">
    </div>
    <div>
      <img src="{{tidduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tidduye in tidduyes">
    </div>
    <div>
      <img src="{{tibuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tibuye in tibuyes">
    </div>
    <div>
      <img src="{{tibbuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tibbuye in tibbuyes">
    </div>
    <div>
      <img src="{{tittuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tittuye in tittuyes">
    </div>
    <div>
      <img src="{{tiffuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="tiffuye in tiffuyes">
    </div>
    <div>
      <img src="{{dictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictuye in dictuyes">
    </div>
    <div>
      <img src="{{dilluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dilluye in dilluyes">
    </div>
    <div>
      <img src="{{diccuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccuye in diccuyes">
    </div>
    <div>
      <img src="{{diduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diduye in diduyes">
    </div>
    <div>
      <img src="{{didduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduye in didduyes">
    </div>
    <div>
      <img src="{{dibuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuye in dibuyes">
    </div>
    <div>
      <img src="{{dibbuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuye in dibbuyes">
    </div>
    <div>
      <img src="{{dittuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittuye in dittuyes">
    </div>
    <div>
      <img src="{{diffuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diffuye in diffuyes">
    </div>
    <div>
      <img src="{{yictuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yictuve in yictuves">
    </div>
    <div>
      <img src="{{yilluve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yilluve in yilluves">
    </div>
    <div>
      <img src="{{yiccuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yiccuve in yiccuves">
    </div>
    <div>
      <img src="{{yiduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yiduve in yiduves">
    </div>
    <div>
      <img src="{{yidduve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yidduve in yidduves">
    </div>
    <div>
      <img src="{{yibuve}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="yibuve in yibuves">
    </div>
  </ion-content>
</ion-view>