<ion-view title="高中部" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{didduje}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduje in diddujes">
    </div>
    <div>
      <img src="{{dibuje}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuje in dibujes">
    </div>
    <div>
      <img src="{{dibbuje}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuje in dibbujes">
    </div>
  </ion-content>
</ion-view>