<ion-view title="升學進路" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{dictuwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dictuwe in dictuwes">
    </div>
    <div>
      <img src="{{dilluwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dilluwe in dilluwes">
    </div>
    <div>
      <img src="{{diccuwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diccuwe in diccuwes">
    </div>
    <div>
      <img src="{{diduwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="diduwe in diduwes">
    </div>
    <div>
      <img src="{{didduwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="didduwe in didduwes">
    </div>
    <div>
      <img src="{{dibuwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibuwe in dibuwes">
    </div>
    <div>
      <img src="{{dibbuwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dibbuwe in dibbuwes">
    </div>
    <div>
      <img src="{{dittuwe}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="dittuwe in dittuwes">
    </div>
  </ion-content>
</ion-view>