<ion-view title="新聞" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" href-inappbrowser="http://www.bish.tp.edu.tw/index.php">
        <img src="{{bicture}}" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="bicture in bictures">
      </a>
    </div>
    <a href-inappbrowser="http://www.bish.tp.edu.tw/data_news.php?sys_name=news10" id="page4-button20" style="font-weight:600;" class="button button-positive button-block button-outline">新聞報導專區</a>
    <div>
      <a style="display:block;" href-inappbrowser="https://www.youtube.com/watch?v=4wyc93m5z8M">
        <img src="{{billure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="billure in billures">
      </a>
    </div>
    <div>
      <img src="{{biccure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="biccure in biccures">
    </div>
    <div>
      <img src="{{bidure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="bidure in bidures">
    </div>
    <div>
      <img src="{{biddure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="biddure in biddures">
    </div>
    <div>
      <img src="{{bibure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="bibure in bibures">
    </div>
    <div>
      <img src="{{bibbure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="bibbure in bibbures">
    </div>
    <div>
      <img src="{{bitture}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="bitture in bittures">
    </div>
    <div>
      <img src="{{biffure}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="biffure in biffures">
    </div>
  </ion-content>
</ion-view>