<ion-view title="學雜費及補助" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ZbdbS6RmRkmcA083UV6l_156.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Ml4S2YSsSXGgldlhiYpk_157.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/V9tVHPPRB6oAq9lS9BFI_158.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/njggPEwTRmWETbJIT4by_159.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/zdLEn4xST12qdcEnJy5Y_160.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/9wbUUbvScmcGj9ACLiPA_161.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>