<ion-view title="榜單" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uq4fue5mR0OrbXMMVDmy_145.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/2ZZtMFLT2TrF4QhdznAc_163.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/TsJKBagTOGjFGdMAUfN0_164.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/eqqsSfJSTilWdvGF2n0D_165.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/c4G95gATVCbCO9bkHjga_166.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/MzVwZJjGQMGqftwpXBqG_167.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/N7Wa0U1LSBiE43nhNo66_168.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/dgEooKESzOUvuL5qGCJw_171.GIF" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>