<ion-view title="一般課程" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898796.GIFaltmediatoken4b8dfc00-5a99-422a-9540-4d704d3cff1d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898797.GIFaltmediatokend6f525a4-3916-4f19-b472-a1d2f05e703e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898798.GIFaltmediatoken67567d23-d4c0-43e1-830a-3040996398b8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898799.GIFaltmediatokenba2292d0-1915-40f6-9884-ff9a7be04ab7" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987100.GIFaltmediatoken09cadd4e-443b-471d-a27f-623e617fcaab" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>