<ion-view title="週六課程" id="page18">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="{{sictuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="sictuye in sictuyes">
    </div>
    <div>
      <img src="{{silluye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="silluye in silluyes">
    </div>
    <div>
      <img src="{{siccuye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="siccuye in siccuyes">
    </div>
    <div>
      <img src="{{siduye}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-repeat="siduye in siduyes">
    </div>
  </ion-content>
</ion-view>