<ion-view title="榜單" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2Fuq4fue5mR0OrbXMMVDmy_145.GIFaltmediatoken9bb448d0-0d01-4b1e-bd1f-79deaf80aba1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987163.GIFaltmediatoken7d3d1174-a804-4b61-afb3-ccb4bb9fadcb" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987164.GIFaltmediatoken217e4e4d-2bc4-491b-805f-e381f79918a1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987165.GIFaltmediatokenfc11a757-c2f4-4f54-8e43-d7a568f71f72" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987166.GIFaltmediatokenfb3df1a6-b14a-46e1-a8b4-e1a264eaa40e" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987167.GIFaltmediatoken88318a95-70f2-4cc4-8bfc-b7ea974c5963" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987168.GIFaltmediatoken9c1c03ef-d2ee-478b-bef8-cd4e98b91bab" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987171.GIFaltmediatokendafe38ad-4078-4861-8294-ba388fe9f67a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>