<ion-view title="學雜費及補助" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987156.GIFaltmediatoken8c1f2e6d-6243-41e9-94b4-70aa1ef91167" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987157.GIFaltmediatoken145b85ac-b84d-4509-8d0e-7e75a0cc8f70" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987158.GIFaltmediatoken10a92301-930d-4148-946f-0e1646b15cca" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987159.GIFaltmediatokenf3e89e29-614b-4da9-ab9f-322aab866369" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987160.GIFaltmediatoken5ec8b51e-5816-4cab-959d-66b3e1810fd8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E78987161.GIFaltmediatoken2abc7836-a69a-4b79-baeb-1c0957f0054f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>