<ion-view title="認識靜修女中" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="page7-button-bar1" class="button-bar"></div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E789878.GIFaltmediatokencb340d01-4fc2-4287-b299-ddb3ddfe03e2" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E789879.GIFaltmediatokend432a2f7-7500-494c-affc-7e49e0439418" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898710.GIFaltmediatoken1510f70c-3c14-4f52-ae2f-7091bac48a94" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FE68A95E5BDB1E7898711.GIFaltmediatoken01f07e42-02dd-4770-b737-15df9529b433" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page7-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>