<ion-view title="高職部" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/AABIS_pics2FA1Ay3CDaQOK6PIISfeqk_112.GIFaltmediatoken6d306655-277d-4970-8049-a64d0e469959" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FFY6MlV2hQ3OCwbM61kOm_113.GIFaltmediatoken99f19886-421a-4ca1-aa9d-2d16d09fe409" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FkVo3F8InT6qHemsGGMCX_114.GIFaltmediatoken7893157a-8c2c-46d2-b7fe-7512f370bf67" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FZr4qKaekTQKJz31LGAG6_115.GIFaltmediatoken84fd5e53-7661-4e15-9b44-d233df08ce0c" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2Fn9FjGRivQbCqWu6dronD_116.GIFaltmediatokenbc2f924e-dee3-4fda-9a47-9478e2065a23" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FYgutpDbWQS2SKAcWjmYe_117.GIFaltmediatoken17c0102d-c2a3-48dd-8fce-7866d81742db" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FHDfec9jESZig1BeLvRsG_118.GIFaltmediatoken546a1beb-8797-4bda-8d3b-1d67687f94e8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FUeFknEcsS6C2IY1daL9I_119.GIFaltmediatoken9e197ac3-fb7b-4001-ad4b-74a2287044ea" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2F6Ido466cQvWS9cEBnXOl_120.GIFaltmediatokend81038a4-c872-49c3-b2c5-1a8da2ce9bf5" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2Fn3b7xuXdQxOZSUTHPcVL_121.GIFaltmediatokend4fd92bf-2626-4f48-ba5f-17b1b14a671f" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FG8qUSXLlQ9i4nyWOH7XX_122.GIFaltmediatoken2c4af92d-0cd8-4f76-bf66-358426b82138" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FKF2bUo7URRG9oMgVSCSQ_123.GIFaltmediatoken99e945aa-a672-4f53-954e-d7c254eae04d" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FdKak84atQZM1qEHKVvew_124.GIFaltmediatokencf08dab8-c884-4454-8a04-fc569caf07f2" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FKC8UJ9uQQ8PrIV1DW7Sw_125.GIFaltmediatoken55b942e4-e2ec-4962-8824-4025ffbd0ee0" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FFlYke516RTORYOU4EWja_126.GIFaltmediatoken66c1a904-2d65-4aac-a7ea-4223b8eb89b4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/AABIS_pics2FXWVuVVOdR75F86MYXdTf_127.GIFaltmediatoken69b03fbc-05d9-4daf-b607-d714f3a41e30" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>